* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    padding: 5px;
    font-size: 20px;
    background-color: #fff;
}


/* lets style the nav */

.nav {
    display: flex;
    justify-content: space-between;
}

.nav>.links ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav>.logo>h3 span>#moringa {
    color: #EC4067;
}

.body {
    padding: 20px;
}


/* LETS STYLE THE HEADER */

.body>.main {
    display: flex;
}

.body>.main>.right,
.left {
    width: 50%;
}

.body>.main>.right>img {
    /* width: 80vh; */
}

.body>.main>.left>.content>.enrollExplore {
    display: flex;
    gap: 30px;
}


/* remaining the buttons */


/* body2 */

.body1 {
    margin-top: 30px;
}

.body>.body1>.main1 {
    display: flex;
    margin-top: 2cm;
}

.body>.body1>.main1>.right1,
.left1 {
    width: 50%;
}

.body>.body1>.main1>.right1>img {
    /* width: 80vh; */
}

.body>.body1>.main1>.left1>img {
    /* width: 80vh; */
}

.body>.project {
    margin-top: 2cm;
    margin-bottom: 2cm;
    border: 2px solid rebeccapurple;
}

img {
    height: 50vh;
}

.btn1 {
    border: none;
    color: #fff;
    background-color: #EC4067;
    border-radius: 5px;
}

.btn2 {
    border: 1px solid #EC4067;
    color: #EC4067;
    background-color: #fff;
}