* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    padding: 5px;
    /* font-size: 20px; */
    background-color: #fff;
    color: #5f5a5a;
}


/* lets style the nav */

.nav {
    display: flex;
    justify-content: space-between;
}

.nav>.links ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav>.logo>h3 span>#moringa {
    color: #EC4067;
}

.body {
    padding: 20px;
}


/* LETS STYLE THE HEADER */

.body>.main {
    display: flex;
    align-items: center;
}

.body>.main>.right,
.left {
    width: 50%;
}

.body>.main>.right>img {
    /* width: 80vh; */
}

.body>.main>.left>.content>.enrollExplore {
    display: flex;
    gap: 30px;
}

.body>.main>.left>.content>.hh {
    /* color: #EC4067; */
}

.body>.main>.left>.content>.pp {
    color: #EC4067;
    font-size: 25px;
}

h2 {
    color: black;
}


/* remaining the buttons */


/* body2 */

.body>.stories {
    margin-top: 30px;
}

.body>.body1>.main1 {
    display: flex;
    margin-bottom: 2cm;
    align-items: center;
}

.body>.body1>.main1>.right1,
.left1 {
    width: 50%;
}

.body>.body1>.main1>.right1>img {
    /* width: 80vh; */
}

.body>.body1>.main1>.left1>img {
    /* width: 80vh; */
}

.body>.project {
    margin-top: 2cm;
    margin-bottom: 2cm;
    border: 2px solid black;
}

img {
    width: 80vh;
}

.btn1 {
    border: none;
    color: #fff;
    background-color: #EC4067;
    border-radius: 5px;
}

.btn2 {
    border: 1px solid #EC4067;
    color: #EC4067;
    background-color: #fff;
}

.footer {
    background-color: #e1e0e0;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer p {
    background-color: #e1e0e0;
    color: #000;
}

.mini_footer>.ns {
    color: #EC4067;
}

@media screen and (max-width: 1250px) {
    /* header and footer */
    .main {
        flex-direction: column;
        border: 2px solid red;
    }
    img {
        width: 95%;
    }
    .body>.main>.right,
    .left {
        width: 100%;
    }
    /* body */
    .main1 {
        flex-direction: column;
        border: 2px solid red;
    }
    .body>.body1>.main1>.right1,
    .left1 {
        width: 100%;
    }
}